.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
node_modules/
out/
src/language/generated/
syntaxes/

.DS_Store
.vscode-test/
coverage/
dist/
docs/
lib/
out/
node_modules/
*.vsix
*.tsbuildinfo
hello-world
package-lock.json